
* {
	padding: 0;
	margin: 0;
  }
  p {
	margin-bottom: 20px;
	font-family: 'Roboto';
  }
  .wrapper {
	width: 80%;
	margin: auto;
	overflow:hidden;
  }
  header {
	background: rgb(157,170,187);
	width: 100%;
	position: fixed;
	z-index: 10;
	font-family: 'Roboto';
  }
  
  nav {
	float: auto; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
	list-style: none;
	overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
	float: left;
	font-family: 'Roboto';
	font-size: 22px;
  }
  nav ul li b{
	float: right;
	font-family: 'Roboto';
	font-size: 22px;
  }
  nav ul li a {
	display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
	padding: 20px;
	color: rgb(5, 7, 28);
	text-decoration: none;
	
  }
  nav ul li:hover {
	background: #fff;
  }
  .contenido {
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: 'Roboto';
	justify-content: center;
  }
  Body {
	  Background: #D8E0EA;
	  font-family: 'Roboto';
	}
div.b {
	text-align: left;
	font-family: 'Roboto';
	margin-top: 20px;
	}
div.a {
		text-align:right;
		padding-top: 50px;
		font-family: 'Roboto';
		margin-top: 20px;
		}
div.c {
	text-align:center;
	padding-top: 10px;
	font-family: 'Roboto';
	margin-top: 10px;
	}
	
button{
	margin-top: 20px;
	background-color: #06324D;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 1em;
	}
button.b{
	margin-top: 20px;
	background-color: #BECBDE;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 1em;
	
}
.header_logo {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0 0 0 2px;
  }
.alinear-izquierda-img{
	float: left;
	padding: auto;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}
.alinear-izquierda-img-memac{
	float: left;
	padding: auto;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.alinear-izquierda-text{
	float: left;
	padding: auto;
	width: auto;
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 60px;
}
.obj-container{
	display: inline-block;
	padding: auto;
	width: auto;
	margin-top: 20px
}
.logos-container{
	display: inline-block;
	padding: auto;
	width: auto;

}
.imagen-logo{
	height:100px;
	width: auto;
	margin-left: 12px;
	margin-right: 30px;
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s; 
	margin-bottom: 20px;
}
.linea-sep{
	height: 7px;
	width: auto;
	background: #BECBDE;
}
#registration-form .frm{
	float:right;
	height: 500px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

#registration-form h1{
	margin-top: 30px;
	margin-bottom: 20px;
}

#registration-form .form-control{
	width: 90%;
	padding: 12px 20px;
	height: auto;
}

.proyect-img{
	width: 600px;
	height: auto;
	float: left;
}
