
* {
	padding: 0;
	margin: 0;
  }
  p {
	margin-bottom: 20px;
	font-family: 'Roboto';
  }
  .wrapper {
	width: 90%;
	margin: auto;
	overflow:hidden;
	max-width: 10200px;

  }
  header {
	background: rgb(195, 199, 204);
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 10;
	font-family: 'Roboto';
  }
  
  nav {
	float: auto; /* Desplazamos el nav hacia la izquierda */
  }
  nav ul {
	list-style: none;
	overflow: hidden; /* Limpiamos errores de float */
  }
  nav ul li {
	float: left;
	font-family: 'Roboto';
	font-size: 22px;
  }
  nav ul li b{
	float: right;
	font-family: 'Roboto';
	font-size: 22px;
  }
  nav ul li a {
	display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
	padding: 20px;
	color: rgb(5, 7, 28);
	text-decoration: none;
	
  }
  nav ul li:hover {
	background: #fff;
  }
  .contenido {
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: 'Roboto';
	justify-content: center;
  }
  Body {
	  Background: #D8E0EA;
	  font-family: 'Roboto';
	}
div.b {	
	text-align: left;
	font-family: 'Roboto';
	margin-top: 20px;
	}
div.a {
		text-align:right justify;
		font-family: 'Roboto';
		margin-top: 5x;
		}
div.c {
	text-align:center;
	font-family: 'Roboto';
	}
	
button.d{
	margin-top: 20px;
	background-color: #BECBDE;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 1em;
	}
button.b{
	margin-top: 20px;
	background-color: #BECBDE;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-radius: 1em;
	
}
.header_logo {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	margin: 0 0 0 2px;
	box-sizing: border-box;
  }
.alinear-izquierda-img{
	float: left;
	padding: auto;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	box-sizing: border-box;
}
.alinear-izquierda-img-azul{
	float: left;
	padding: auto;
	box-sizing: border-box;
}

.alinear-izquierda-img-redo{
	float: left;
	padding: auto;
	margin-left:45%;
	margin-right: 10px;
	border-radius: 5%;
	box-sizing: border-box;
	margin-right: 100px;
}
.alinear-izquierda-img-memac{
	float: left;
	padding: auto;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.alinear-derecha-img{
	float: right;
	padding: auto;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.alinear-derecha-log{
	float: right;
	margin-right: 70px;
	margin-top: 20px;
	margin-bottom: 20PX;
	box-sizing: border-box;
}
.alinear-izquierda-text{
	float: left;
	padding: auto;
	width: auto;
	margin-top: 30px;
	margin-left: 40px;
	margin-bottom: 60px;
	box-sizing: border-box;
}
.obj-container{
	display: inline-block;
	margin-top: 20px;
	width: auto;
	box-sizing: border-box;
	
}
.obj-container-2{
	display: inline-block;
	align-items: center;
	box-sizing: border-box;
	height: 300px;

}
.logos-container{
	display: inline-block;
	padding: auto;
	width: auto;
	box-sizing: border-box;

}
.imagen-logo{
	height:70px;
	width: auto;
	margin-left: 30px;
	margin-right: 50px;
	filter: grayscale(1);
	transition-property: filter;
	transition-duration: 1s; 
	margin-bottom: 20px;
	box-sizing: border-box;

}
.element:hover{
	filter: grayscale(0);
	margin-bottom: 20px;
	-webkit-transition: all 01s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.linea-sep{
	height: 7px;
	width: auto;
	background: #BECBDE;
	box-sizing: border-box;
}
#registration-form .frm{
	float:right;
	height: 500px;
    width: 50%;
    min-width: 250px;
    padding: 0 35px;
    background-size: 100% 100%;
	box-sizing: border-box;
}

#registration-form h1{
	margin-top: 30px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#registration-form .form-control{
	
	width: 90%;
	padding: 12px 20px;
	height: auto;
	box-sizing: border-box;
}
.alinear-izquierda-img-form{
	float: left;
	padding: auto;
	width: 40%;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 10px;
	box-sizing: border-box;
}

.proyect-img{
	width: 600px;
	height: auto;
	float: left;
	box-sizing: border-box;
	margin-top: 50px;
}
.proyect-img-derecha{
	display: inline-block;
	width: 600px;
	height: auto;
	margin-top: 50px;
	box-sizing: border-box;
}

.element{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius:50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: grayscale(1);
  box-sizing: border-box;
  transition-property: filter;
}

#circle{
position: relative;
  width: 400px;
  height:340px;
  box-sizing: border-box;
  margin: auto;
  margin-right:100px;
  margin-top: 130px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #06324D, #06324D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
	background: #06324D !important;

}
@media only screen and (min-width: 600px) {
	.navbar-collapse{height:auto !important}
	.alinear-izquierda-img-form´{
		float: initial;
		width: 50%;
	}
	.alinear-derecha-log{
		float: inline-start;
		margin-bottom: 100px;
		width: auto;
	}
	.element{
		float: inline-start;
	}
	.obj-container{
		align-content: flex-end;
		float: inline-end;
	}
	.circle{
		width: 30%;
		align-self: flex-start;
	}

}
.containercards{
    display: flex;
    width:auto;
    height: auto;
    margin: 30px auto;
	padding-left: 200px;
    }
.box{
    width: 300px;
    height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
    border: 1px solid #ccc;
    margin-right: 9%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
	background-color: #06324D;
}
.boxa{
	margin-top: 60px;
    width: 300px;
    height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
    border: 1px solid #ccc;
    margin-right: 9%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
	background-color: #99bdd3;
    }
	.boxb{
		margin-top: 90px;
		width: 300px;
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
		border: 1px solid #ccc;
		margin-right: 9%;
		background: white;
		border-radius: 10px;
		transition: 0.9;
		background-color: #06324D;
		}

    .box:hover{
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    }
	.boxa:hover{
		box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}
	.boxb:hover{
		box-shadow: 0 0 34px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		}
    img.cards{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    h3,p{
    text-align: justify;
    color: white;
	margin-left: 10%;
	margin-right: 3%;
    }
	p.c{
		text-align: justify;
		color: white;
		margin-left: 30%;
		font-size: 25px;
	}
	h3.a{
	text-align: center;
	font-size: 30px;
	color: white;
	}
    p.a{
    font-size: 25px;
    padding: 0 5px;
    }
    i,h6,a{
    text-align: left;
    text-decoration: none;
    }
    @media (max-width: 800px){
    .containercards{
    width: 100%;
    }
    }
    @media (max-width: 600px){
    .containercards{
    width: 85%;
    display: block;
    }
    .boxcards{
    width: 100%;
    margin-bottom: 4%;
    }
}

div.filo{
	font-size: 50PX;
	color: #06324D;
	text-align: center;
}

.column-container {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	margin-left: 100px;
  }
  
  .column-1, .column-2 {
	flex-basis: 50%;
	box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
	.column-1, .column-2 {
	  flex-basis: 100%;
	}
  }
.columnas {
	column-count: 2; /* Divide el contenido en dos columnas */
	column-gap: 20px; /* Espacio entre columnas */
 }
p.columna{
	font-size: 35px;
	text-align: justify;
	color: #7c7c7c;
	margin-left: 100px;
	
}
p.columnab{
	font-size: 26px;
	color: #7c7c7c;
	text-align: justify;
}
.colored-letter {
	color:#06324D;
  }
  .colored-letter2 {
	color:#FDBC2D;
  }
  .colored-letter3 {
	color:#53796E;
  }
  
  .alinear-derecha-pag{
	float: right;
	margin-right: 70px;
	margin-bottom: 20PX;
	margin-top: 0%;
}
div.b2 {	
	text-align: left;
	font-family: 'Roboto';
	margin-top: 10px;
	}
div.legal{
	width:85%;
	text-align:justify;
	margin-left: 10%;
	font-size: 20px;
}